Repository marco-compiler/marco, pull requests merged in 2025-02, with the labels that each got.

#106 Fix build of production image
  .jenkins/install_marco.sh
  .jenkins/prod-image.Dockerfile
Labels: jenkins, docker

#107 Fix package build configuration
  .jenkins/package-debian-12.Jenkinsfile
Labels: jenkins

#113 Strategized, type-erased graph dumper
  include/public/marco/Modeling/GraphDumper.h
  unittest/Modeling/CMakeLists.txt
  unittest/Modeling/GraphDumperTest.cpp
Labels: codegen

#116 Add edge printer and simple unit tests to Mermaid Backend
  include/public/marco/Modeling/GraphDumper.h
  unittest/Modeling/CMakeLists.txt
  unittest/Modeling/GraphDumperMermaidBackendTest.cpp
Labels: codegen
